<web-app>
<servlet>
    <servlet-name>raviservlet1</servlet-name>
    <servlet-class>com.paytm.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>raviservlet1</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  <!-- Below patter is to register the user -->
  <servlet>
    <servlet-name>naniservlet2</servlet-name>
    <servlet-class>com.paytm.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>naniservlet2</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <!-- Below pattern is to HomePage the user -->
  
  <servlet>
    <servlet-name>saiservlet3</servlet-name>
    <servlet-class>com.paytm.HomePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saiservlet3</servlet-name>
    <url-pattern>/HomePage</url-pattern>
  </servlet-mapping>
  
  
  <!-- Below pattern is to recharge the user -->
  
  
   <servlet>
    <servlet-name>saiservlet4</servlet-name>
    <servlet-class>com.paytm.Recharge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saiservlet4</servlet-name>
    <url-pattern>/Recharge</url-pattern>
  </servlet-mapping>
  
 
  <welcome-file-list>
    <welcome-file>Pay.jsp</welcome-file>
  </welcome-file-list>
</web-app>